<section class="custom-container">
  <!---->
  <div class="custom-content">
    <h1>Bienvenue dans le système de gestion du trafic</h1>
    <p class="custom-text-01">
      Ce système vous aide à planifier vos déplacements, à surveiller les
      conditions de circulation et à éviter les embouteillages.
    </p>
    <p class="custom-text-02">
      Commencez par choisir une option dans le menu ci-dessus.
    </p>
  </div>

  <div class="custom-grid-03">
    <div>
      <h3>Planification d'itinéraire</h3>
      <p>
        Planifiez votre trajet en fonction des conditions de circulation
        actuelles et prévues.
      </p>
      <button class="button"><p class="text">Planifier l'itinéraire</p></button>
    </div>
    <div>
      <h3>Surveillance du trafic</h3>
      <p>
        Surveillez les conditions de trafic en temps réel sur l'ensemble du
        réseau.
      </p>
      <button class="button"><p class="text">Afficher le trafic</p></button>
    </div>
    <div>
      <h3>Avis de congestion</h3>
      <p>
        Recevez des alertes sur les embouteillages et des itinéraires
        alternatifs suggérés.
      </p>
      <button class="button">
        <p class="text">Afficher les notifications</p>
      </button>
    </div>
  </div>
</section>
