<section class="custom-container">
  <h1>Configurarion du système</h1>

  <section>
    <!--Nom-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Nom</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Traore"
        required=""
      />
    </div>
    <!--prenom-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Prenom</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Pierre"
        required=""
      />
    </div>
    <!--telephone-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Téléphone</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="+226 78787878"
        required=""
      />
    </div>
    <!--Mdp-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Mot de passe</label>
      <input
        type="password"
        id="email-id"
        name="email-id"
        class="input__email"
        required=""
      />
    </div>

    <!---->
    <h3>Préférence de notification</h3>
    <!--SMS-->
    <div class="checkbox-wrapper-46">
      <input type="checkbox" id="cbx-46" class="inp-cbx" />
      <label for="cbx-46" class="cbx"
        ><span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
        ><span>SMS</span>
      </label>
    </div>
    <!--EMAIL-->
    <div class="checkbox-wrapper-46">
      <input type="checkbox" id="cbx-46" class="inp-cbx" />
      <label for="cbx-46" class="cbx"
        ><span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
        ><span>EMAIL</span>
      </label>
    </div>
    <!--PUSH-->
    <div class="checkbox-wrapper-46">
      <input type="checkbox" id="cbx-46" class="inp-cbx" />
      <label for="cbx-46" class="cbx"
        ><span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
        ><span>PUSH</span>
      </label>
    </div>
    <!--button-->
    <div>
      <button type="submit">Enregistrer les modifications</button>
    </div>
  </section>
</section>
