<div
  style="
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: 100vh;
    overflow: hidden;
  "
>
  <!---->
  <div>
    <img src="/assets/img/pexels-pixabay-262100.jpg" alt="" />
  </div>
  <!---->
  <div class="custom-form">

    <a class="pg-accueil" routerLink="/user-trafic-gestion/acceuil"><p class="text">Page d'accueil</p></a>

    <h1 class="custom-form-title">Inscription</h1>

    <div
      style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px"
    >
      <!--Nom final-->
      <div class="input-formfield">
        <label class="ang-label" for="email">Nom</label>
        <input
          type="email"
          id="email-id"
          name="email-id"
          class="input__email"
          placeholder="Nom"
          required=""
        />
      </div>
      <!--Prenom final-->
      <div class="input-formfield">
        <label class="ang-label" for="email">Prenom</label>
        <input
          type="email"
          id="email-id"
          name="email-id"
          class="input__email"
          placeholder="Prenom"
          required=""
        />
      </div>
    </div>

    <!--Email final-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Email</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Email"
        required=""
      />
    </div>
    <!--Telephone final-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Téléphone</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Telephone"
        required=""
      />
    </div>
    <!--Mot de passe final-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Mot de passe</label>
      <input
        type="password"
        id="email-id"
        name="email-id"
        class="input__email"
        required=""
      />
    </div>

    <!---->
    <div>
      <button class="button"><p class="text">S'inscrire</p></button>
    </div>
    <!----->
    <div>
      <p style="text-align: center; margin-block-start: 12px">
        <small>Vous avez deja un compte ? </small>
        <a routerLink="/login">Se connecter ici</a>
      </p>
    </div>
  </div>
</div>
