<div
  style="
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: 100vh;
    overflow: hidden;
  "
>
  <!---->
  <div>
    <img src="/assets/img/pexels-pixabay-262100.jpg" alt="" />
  </div>
  <!---->
  <div class="custom-form">
    <h1>Inscription</h1>

    <div style="display: grid;grid-template-columns: repeat(2,1fr);gap: 12px;">
      <!--Nom final-->
      <div class="input-formfield">
        <label class="ang-label" for="email">Nom</label>
        <input
          type="email"
          id="email-id"
          name="email-id"
          class="input__email"
          placeholder="Nom"
          required=""
        />
      </div>
      <!--Prenom final-->
      <div class="input-formfield">
        <label class="ang-label" for="email">Prenom</label>
        <input
          type="email"
          id="email-id"
          name="email-id"
          class="input__email"
          placeholder="Prenom"
          required=""
        />
      </div>

    </div>

    <!--Email final-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Email</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Email"
        required=""
      />
    </div>
    <!--Telephone final-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Téléphone</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Telephone"
        required=""
      />
    </div>
  </div>
</div>
