<section class="custom-container">
  <h1>Planification d'itinéraire</h1>

  <section>
    <!--Lieu de depart-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Lieu de départ</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Lieu de départ"
        required=""
      />
    </div>
    <!--Emplacement final-->
    <div class="input-formfield">
      <label class="ang-label" for="email">Emplacement final</label>
      <input
        type="email"
        id="email-id"
        name="email-id"
        class="input__email"
        placeholder="Emplacement final"
        required=""
      />
    </div>

    <!--button-->
    <div>
      <button (click)="getRouteFromApi()" type="submit">Continuer</button>
    </div>
  </section>

  @if(!!itineraire){
  <div class="itineraire-prevue">
    <h3>Itinéraire prévue</h3>

    <p>Distance : {{ itineraire.distance }} km</p>
    <p>Temps : {{ itineraire.duration }} minutes</p>
  </div>

  }
  <!-- <app-carte /> -->
   <app-carte-map-box/>
</section>
